{namespace tictactoe}{template .login}
  <h1>Login</h1>
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text"></td>
      <td><input type="button" value="Play"></td>
    </tr>
  </table>
{/template}