@use 'main';
.game-container {
  text-align: center;
  margin-bottom: 10px;
}

.login-info-container {
  position: absolute;
  width: 100%;
  margin-left: -40px;
}

.login-info {
  float: right;
  display: inline-flex;
}

.username-text {
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  margin: 0 8px 0 0;
}

.logbutton {
  float: right;
}

#x,
#o {
  margin-left: 5px;
  padding: 5px 10px;
}

.waiting-info {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  line-height: 30px;
  width: 140px;
  margin-top: -60px;
  margin-left: -110px;
  padding: 40px;

  background-color: rgb(242, 242, 242);
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;

  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px 1px 2.5px 1px;
  border-style: solid;
  border-radius: 26px;
}

.waiting {
  display: unset;
}

.not-waiting {
  display: none;
}

.waiting:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "...";
  width: 0px;
}

.you-are {
  display: inline;
}

.assigned-letter {
  display: inline;
  font-weight: 600;
}

table {
  margin: 30px auto 30px auto;
  height: 450px;
  border-spacing: 0px;
  tr {
    height: 30%;
    td {
      font-size: 150;
      border: black solid 2px;
      width: 150px;
      height: 150px;
      line-height: 150px;
      float: left;
      text-align: center;

      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    &:first-child td {
      border-top: none;
    }
    &:last-child td {
      border-bottom: none;
    }
  }
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}
